*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  background-color: #15171a;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fff;
}
button{
  cursor: pointer;
}
.center{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
